body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    color: white;
}

header {
    background: none;
    color: red;
    padding: 18px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.hero {
    text-align: center;
    margin-top: 20px;
}

#slider {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.about {
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: rgb(230,230,230);
}

.contact {
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: rgb(230,230,230);
}

.contact p {
    margin: 8px 0;
}
